.statusSwatch {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 9999px;
  transition: opacity 0.2s;
  background-color: var(--status-color, #ccc);
}

.statusSwatch.selected {
  opacity: 1;
}

.statusSwatch.unselected {
  opacity: 0.3;
}

.statusSwatch.unselected:hover {
  opacity: 0.75;
}
